{% extends "digital-land-frontend/dlf-base.html" %}
{%- from "govuk-jinja-components/components/phase-banner/macro.jinja" import govukPhaseBanner %}

{% set project_name = project|replace("-", " ")|capitalize %}

{%- block pageTitle %}{{ fm.title }} | Guidance | Digital Land{% endblock -%}

{%- block dlCss %}
{{ super() }}
<link href="https://digital-land.github.io/stylesheets/guidance.css" rel="stylesheet" />
{% endblock %}

{% block beforeContent %}
  {%- if fm.phase == "prototype" %}
    {{- govukPhaseBanner({
      "tag": {
          "text": "Prototype",
          "classes": "govuk-tag"
      },
      "html": 'This is a prototype.'
    }) }}
  {%- else %}
    {%- include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
  {% endif %}
  {% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Guidance",
        "href": "/guidance"
      },
      {
        "text": fm.title
      }
    ]
  }) }}
  {% endblock %}
{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Guidance</span>
<h1 class="govuk-heading-xl">{{ fm.title }}</h1>

<div class="govuk-grid-row">
{% if fm['hasContents'] %}
  {{ content.contents|safe }}
{% endif %}
  <div class="govuk-grid-column-two-thirds app-markdown-output">
    {{ content.main|safe }}
  </div>
</div>

{% endblock %}
